.table-row {
  color: black;
}

.table-row:hover {
  cursor: pointer;
  color: #FBA86C;
}

.paggination a {
  color: black;
  text-decoration: none;
}

.paggination a:hover {
  color: #FBA86C;
  text-decoration: none;
}