<div class="panel-bg">
  <div class="panel-text">
    Sprawdź produkty, które przygotowaliśmy specjalnie dla Ciebie
  </div>
</div>
<div class="col-md-6">
  <div class="adjustleft">
    <div class=" panel-bg">
      <cart-info></cart-info>
    </div><br/>
    
    <table class="table .table-striped panel-bg">
      <tbody>
        <tr *ngFor="let prod of products; let i = index" (click)="onSelect(prod)" [class.selected]="prod === selectedProduct" class="table-row">
          <td>{{(i+1)+itemsPerPage*(currentPage-1)}}</td>
          <td>{{prod.name}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="table-row paggination">
          <td *ngFor="let page of pages" routerLink='/products' [queryParams]="{page: page}">
            <a *ngIf="page!=currentPage" routerLink='/products' [queryParams]="{page: page}">{{page}}</a>
            <span *ngIf="page==currentPage">{{page}}</span>
          </td>
        </tr>
      </tfoot>
    </table>
    <table class="table .table-striped search-bar">
      <tbody>
        
      </tbody>
    </table>
  </div>
</div> 

<div class="col-md-6">
  <div class="product-details">
    <product-detail *ngIf="selectedProduct" 
    [productInfo]="this.selectedProduct" [product]="this.detailProduct" [products]="this.detailProducts" [showAddToCartButton]=true [showCartInfo]=false></product-detail>
  </div>
</div>

