<div *ngIf="product">
  <h2>{{product.name}} details!</h2>
  <div><label>id: </label>{{product.id}}</div>
  <div><label>description: </label>{{product.description}}</div>
  <div><label>price: </label>{{product.price | number:"1.2-2"}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="product.name" placeholder="name"/><br />
    <label>description: </label>
    <input [(ngModel)]="product.description" placeholder="description"/><br />
    <label>price: </label>
    <input [(ngModel)]="product.price" placeholder="description"/><br />
  </div>
  <button (click)="save()">Save</button>
  <button (click)="goBack()">Back</button>
</div>