<div class="panel-bg">
  <div class="panel-text">

    <!-- napis rejestracja -->
    <h2>{{strings.Register}}</h2>

      <!-- formularz -->
      <form class="form-horizontal" #registerForm="ngForm" 
      (ngSubmit)="registerForm.form.valid && onSubmit(registerForm.value)" novalidate>

        <!-- login -->
        <div class="form-group">
          <label class="control-label col-sm-2">Login:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="login" name="username" 
            #focus placeholder="{{strings.UsernamePlaceholder}}" 
            ngModel required minlength="4" #username='ngModel'>
            <div *ngIf="registerForm.invalid && (username.dirty || username.touched)"
            class="alert alert-danger">
              <div *ngIf="username.errors.required">
                Username is required.
              </div>
              <div *ngIf="username.errors.minlength">
                Username must be at least 4 characters long.
              </div>
            </div>
          </div>
        </div>

        <!-- email -->
        <div class="form-group">
          <label class="control-label col-sm-2">Email:</label>
          <div class="col-sm-10">
            <input class="form-control"type="text" name="email" placeholder="{{strings.Email}}" 
            ngModel minlength="4" required #email='ngModel'>
            <div *ngIf="registerForm.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
              <div *ngIf="registerForm.submitted && !email.valid">
                Email is required.
              </div>
              <div *ngIf="email != null && email.errors.minlength">
                Email must be at least 4 characters long.
              </div>
            </div>
          </div>
        </div> 

        <!-- hasło -->
        <div class="form-group">
          <label class="control-label col-sm-2">Hasło:</label>
          <div class="col-sm-10">
            <input class="form-control" type="password" name="password" placeholder="{{strings.PasswordPlaceholder}}" 
            ngModel minlength="4" required #password='ngModel'>
            <div *ngIf="registerForm.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Name is required.
              </div>
              <div *ngIf="password.errors.minlength">
                Name must be at least 4 characters long.
              </div>
            </div>
          </div>
        </div> 

        <!-- przycisk -->
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-submit" type="submit" value="{{strings.Register}}">
          </div>
        </div>
      </form>
    </div> <!-- panel-text -->
  </div > <!-- panel-bg -->


<!--

 



<div>
  <h2>{{strings.Register}}</h2>
  <form #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && onSubmit(registerForm.value)" novalidate>
   
    <input #focus type="text" name="username" placeholder="{{strings.UsernamePlaceholder}}" ngModel required minlength="4" #username='ngModel'>
    <div *ngIf="registerForm.invalid && (username.dirty || username.touched)"
    class="alert alert-danger">
      <div *ngIf="username.errors.required">
        Username is required.
      </div>
      <div *ngIf="username.errors.minlength">
        Username must be at least 4 characters long.
      </div>
    </div>

    <input type="text" name="email" placeholder="{{strings.Email}}" ngModel minlength="4" required #email='ngModel'>
    <div *ngIf="registerForm.invalid && (email.dirty || email.touched)"
    class="alert alert-danger">
      <div *ngIf="registerForm.submitted && !email.valid">
        Email is required.
      </div>
      <div *ngIf="email.errors.minlength">
        Email must be at least 4 characters long.
      </div>
    </div>

    <input type="password" name="password" placeholder="{{strings.PasswordPlaceholder}}" ngModel minlength="4" required #password='ngModel'>
    <div *ngIf="registerForm.invalid && (password.dirty || password.touched)"
    class="alert alert-danger">
      <div *ngIf="password.errors.required">
        Name is required.
      </div>
      <div *ngIf="password.errors.minlength">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="password.errors.forbiddenName">
        Name cannot be Bob.
      </div>
    </div>
    
    <input class="btn btn-submit" type="submit" value="{{strings.Register}}">
  </form>
</div>-->