<div class="container">
  <div class="row">

    <!-- pasek wyszukiwania -->
    <div class="col-lg-9">
      <product-search></product-search>
    </div>

    <div class="col-lg-3">
      
      <!-- produkty polecane-->
      <div class="panel-bg">
        <div class="panel-text">
          Polecane
        </div>
      </div >
    
      <!-- lista polecanych produktów -->
      <div *ngFor="let prod of products" (click)="gotoDetail(prod)" [routerLink]="['/productdetail', prod.id]" class="product-card">
      <!--<div *ngFor="let prod of products" (click)="gotoDetail(prod)" [routerLink]="['/productdetail', prod.id]" class="product-card">-->
        <div class="card h-100 product-card-inside">
          <div class="thumbnail">
            <img class="card-img-top" src={{prod.thumbnail}} />
          </div>
          <div class="card-body">
            <h4 class="card-title">
              <a>{{prod.name}}</a>
            </h4>
            <h5 *ngIf="prod.price">
              {{prod.price}} zł
            </h5>
            <p class="card-text">
              {{prod.description}}
            </p>
          </div> <!-- card-body -->
        </div> <!-- karta -->
      </div> <!-- div kart -->      
    </div> <!-- propozycje -->
  </div> <!-- row -->
</div> <!-- container -->