<div>
  <table style="border: solid 1px black; width: 100%;">
    <tr *ngIf="product && product.productInfo">
      <td class="img-border">
        <img src={{product.productInfo.thumbnail}} alt="Zdjęcie" style="width: 100%;"/>
      </td>
      <td style="padding: 5%; width: 40%;" class="product-text">
        <h1>{{product.productInfo.name}}</h1>
        <hr/><hr/>
        <h4>{{product.productInfo.description}}</h4>
        <hr/><hr/>
        <h3>Dostępne w sklepach:</h3>
        <hr/>
                
        <div *ngFor="let produc of products">
          <div *ngIf="produc.shop.length>0">
            <h4>{{produc.shop[0].name}} : {{produc.price | number:"1.2-2"}} zł</h4>
            <button *ngIf="showAddToCartButton" (click)="addToCart(produc)" class="add lab">
              {{strings.AddButtonLabel}}
            </button>    
          </div>
          <hr/> 
        </div>
        <hr/>
      </td>
    </tr>
  </table>
</div>