button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}

button.add {
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #20B110 !important;
  color:white;
}

.product-text {
  /*background-color: rgba(127, 255, 212, 0.6);*/
  background-color: white;
}

.img-border {
  /*background-color: #343A40;*/
  background-color: #FBA86C;
}

/* human resources ;) */
hr {
  border-color: #FF6666;
}