<div class="panel-bg">

  <div class="panel-text">
    Kategorie
  </div >

  <table class="table .table-striped">
    <tbody>
      <tr *ngFor="let cat of categories" (click)="gotoCategory(cat)" class="table-row">  
        <td class="category nav-link">{{cat.name}}</td>
      </tr>
    </tbody>
  </table>

</div>