.table-row {
  color: black;
}

.table-row:hover {
  cursor: pointer;
  color: #FBA86C;
}

.currentShpList {
  color: black;
  background-color: #FF6666;
}

.currentShpList:hover {
  color: white !important;
}