<div class="col-md-6 panel-bg">
    <div style="bakcground-color: white;">
        <table class="table .table-striped">
            <thead>
                <tr>
                    <th colspan="3" class="panel-text" style="text-align: center;" >Moje listy zakupów</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-row" [class.currentShpList]="shoppingList.id==currentShoppingList.id"
                *ngFor="let shoppingList of shoppingLists"
                (click)="changeCurrentShoppingList(shoppingList.id)">
                    <td>{{shoppingList.name}}</td>
                    <td>{{shoppingList.totalPrice | number:"1.2-2"}} zł</td>
                    <td><span class="glyphicon glyphicon-trash" (click)="deleteShoppingList(shoppingList.id); $event.stopPropagation()"></span></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success" (click)="createShoppingList()">{{strings.NewShoppingList}}</button>
        <br/><br/><br/>
        <div>
            <input [placeholder]="strings.ListNamePlaceholder" #listname>
            <button class="btn btn-success" (click)="changeListName(listname.value)">{{strings.ChangListName}}</button>
        </div>
        
    </div>
</div>

<!--<div>
  <input [placeholder]="strings.ListNamePlaceholder" #listname>
  <button class="add" (click)="changeListName(listname.value)">{{strings.ChangListName}}</button>
</div>-->