<div class="col-md-6">
  <div class="adjustleft">
    <div class="panel-text panel-bg">
      <cart-info></cart-info>
    </div>

    <table class="table .table-striped panel-bg">
      <tbody>
        <tr *ngFor="let prod of products; let i = index" (click)="selectedProduct=prod" [class.selected]="prod === selectedProduct" class="table-row">
          <td>{{(i+1)+itemsPerPage*(currentPage-1)}}</td>
          <td>{{prod.name}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="table-row paggination">
          <td *ngFor="let page of pages" [routerLink]="['/productsearch', this.searched]" [queryParams]="{page: page}">
            <a *ngIf="page!=currentPage" [routerLink]="['/productsearch', this.searched]" [queryParams]="{page: page}">{{page}}</a>
            <span *ngIf="page==currentPage">{{page}}</span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="col-md-6">
  <div class="product-details">
    <product-detail *ngIf="selectedProduct" 
    [productInfo]="this.selectedProduct" [showAddToCartButton]=true [showCartInfo]=false></product-detail>
  </div>
</div>