<div class="panel-bg">
  <div class="panel-text">
    Kategoria {{categoryName}}
  </div >
  <table class="table .table-striped">
    <tbody>
        <tr *ngFor="let prod of products" (click)="gotoDetail(prod)" class="table-row">  
            <td class="category nav-link">{{prod.name}}</td>
        </tr>
    </tbody>
  </table>
</div>