.nav-top-anchor {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.top-margin {
    margin-top: 80px;
}

.login:hover {
  cursor: pointer;
}

.logo {
    width: auto;
    height: auto;
    max-width: 128px;
    max-height: 64px;
    margin-top: -25px;
}

.nav-link:hover {
    cursor: pointer;
}