<!-- ciemny pasek menu -->
<nav class="navbar navbar-expand-lg fixed-top nav-top-anchor top-menu">
  <div class="container">

    <!-- nazwa strony + link do strony głównej -->
    <a class="navbar-brand" routerLink="/dashboard" href="/"><img src="assets/img/logo4.png" class="logo"/></a>    

    <!-- opcje menu -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active-nav-item">{{strings.Dashboard}} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" [queryParams]="{page:'1'}" routerLinkActive="active-nav-item">{{strings.Products}} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active-nav-item">{{strings.ActiveList}} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shops" routerLinkActive="active-nav-item">{{strings.Shops}} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="loginService.isLogged()" routerLink="/shoppinglists" routerLinkActive="active">{{strings.ShoppingLists}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf='!loginService.isLogged() && !(this.router.url == "/login") && !(this.router.url == "/register")' (click)="login()">Zaloguj</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  name="logoutbt" *ngIf="loginService.isLogged()" (click)="logout()">Wyloguj</a>
        </li>
      </ul>
    </div> <!-- menu koniec -->
  </div>
</nav> <!-- koniec czarnego paska -->  

<!-- kategorie -->
<div class="container top-margin row">
  <div class="col-lg-2">
    <categories></categories>
  </div>
  <div class="col-lg-10">
    <router-outlet></router-outlet>
  </div>
</div>










