<div class="panel-bg">
  <div class="panel-text">
    <form class="form-horizontal" action="/action_page.php" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
      
      <div class="form-group">
        <label class="control-label col-sm-2">
          Login:
        </label>
        <div class="col-sm-10">
          <input type="text" id="login" class="form-control" name="name" placeholder={{strings.UsernamePlaceholder}} ngModel #login>
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-sm-2">
          Hasło:
        </label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="pwd" name="password" placeholder={{strings.PasswordPlaceholder}} ngModel>
        </div>
      </div>  

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button name="loginbt" type="submit" class="btn btn-success" value={{strings.LoginButtonLabel}}>Loguj</button>
          <button type="submit" class="btn btn-default" routerLink='/register'>{{strings.Register}}</button>
        </div>
      </div>
    </form>

    <div *ngIf="ifInfo">
      {{strings.WrongLoginInfo}}
    </div>

  </div>
</div >