<div class="panel-bg">
  <div class="panel-text">
    Wyszukaj produkty które chciałbyś kupić
  </div>
  <div >
    <div > 
      <div class="input-group stylish-input-group">        
        <input #searchBox id="search-box" class="form-control" (keyup)="search(searchBox.value)" (keyup.enter)="findProducts(searchBox.value)" placeholder="Wyszukaj"/>
        <span class="input-group-addon">
          <button type="submit">
            <span class="glyphicon glyphicon-search" (click)="findProducts(searchBox.value)"></span>
          </button>  
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div *ngFor="let prod of products | async" (click)="gotoDetail(prod)" class="col-lg-4 product-card">
    <div class="card h-100 product-card-inside">
      <div class="thumbnail">
        <img class="card-img-top" src={{prod.thumbnail}} />
      </div>
      <div class="card-body">
        <h4 class="card-title">
          <a>{{prod.name}}</a>
        </h4>
        <h5>{{prod.price}} zł</h5>
        <p class="card-text">{{prod.description}}</p>
      </div> <!-- card-body -->
    </div> <!-- karta -->
  </div> <!-- div kart -->
</div>