<div class="main">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
    <!--<input type="text" name="comment" size="200" maxlength="200" placeholder={{strings.UsernamePlaceholder}} ngModel #comment>-->
    <textarea name="comment" cols="40" rows="5" maxlength="200" ngModel #comment></textarea>
    <br />
    <input name="addcommentbt" class="btn-md btn-submit" type="submit" value={{strings.LoginButtonLabel}}>
  </form>
  <div *ngIf="ifInfo">{{strings.WrongLoginInfo}}</div>
</div>