<span (click)="gotoCart()">
    {{shoppingService.rtshpli().name}} :: {{shoppingService.getNumberOfProducts()}} {{strings.Products}} :: {{strings.TotalPrice}} <span id="cart-tot-price">{{shoppingService.getTotalPrice() | number:"1.2-2"}}</span> zł
    <button class="btn btn-danger" (click)="clearWholeList()">{{strings.ClearWholeList}}</button>
</span>