<div class="col-md-12">
    <div>
        <div class="panel-bg" >
            <span class="panel-text">{{shop.name}}</span>
            <div class="info-box">
                <label *ngIf="shop.name">{{strings.Shop}}</label> <span *ngIf="shop.name">{{shop.name}}</span><br *ngIf="shop.name"/>
                <label *ngIf="shop.description">{{strings.Description}}</label> <span *ngIf="shop.description">{{shop.description}}</span><br *ngIf="shop.description"/>
                <!--<label *ngIf="shop.location">{{strings.Location}} </label>{{shop.lattitude}},{{shop.longtitude}}<br *ngIf="shop.location"/>-->
                <label *ngIf="shop.rate">{{strings.Rating}}</label><span *ngIf="shop.rate">{{shop.rate | number:"1.2-2"}}</span><br *ngIf="shop.rate"/>
                <label *ngIf="shop.contact">{{strings.PhoneNumber}}</label> <span *ngIf="shop.contact">{{shop.contact.phoneNumber}}</span><br *ngIf="shop.contact"/>
                <label *ngIf="shop.contact">{{strings.Address}}</label> <span *ngIf="shop.contact">{{shop.contact.address}}</span><br *ngIf="shop.contact"/>
                <label *ngIf="shop.contact">{{strings.Email}}</label> <span *ngIf="shop.contact">{{shop.contact.email}}</span><br *ngIf="shop.contact"/>    
            </div>
        </div>
    </div> 

    <div class="col-md-6" style="margin-bottom: 10px;">
        <app-map [shopLat]="shop.lattitude" [shopLong]="shop.longtitude"></app-map>
    </div>

    <div *ngIf="shop">
        <div *ngFor="let prod of products" (click)="gotoDetail(prod)" class="col-md-6 product">
            <div class="card h-100 product-card-inside">
                <div class="thumbnail">
                    <img class="card-img-top" src={{prod.thumbnail}} />
                </div>
                <div class="card-body">
                <h4 class="card-title">
                    <a>{{prod.name}}</a>
                </h4>
                <h5 *ngIf="prod.price">{{prod.price}} zł</h5>
                <p class="card-text">{{prod.description}}</p>
                </div> <!-- card-body -->
            </div> <!-- karta -->
        </div> <!-- div kart -->
    </div>
</div>

