<div class="panel-bg">
  <div class="panel-text">
    Sprawdź oferty tych sklepów
  </div>
    <div style="bakcground-color: white;">
        <table class="table .table-striped">
            <tr *ngFor="let shop of shops" (click)='shopDetail(shop)' class="table-row">
                <td>{{shop.name}}</td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<!-- Sklepy z produktami
    
    <table class="table .table-striped" *ngFor="let shop of shops">
    <thead>
        <tr>
            <th colspan="3" class="shop-name" (click)='shopDetail(shop)'>{{shop.name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of shop.products" (click)="productDetail(prod)" class="table-row">
            <td *ngIf="prod">{{prod.productInfo.name}}</td>
            <td *ngIf="prod">{{prod.price | number:"1.2-2"}} zł</td>
        </tr>
    </tbody>
</table>-->