/*

dark

*/

/*
body {
  font-family: "Century Gothic", sans-serif;
  background: url("assets/img/background.jpg");
  background-size: cover;
}

.top-menu {
  background-color: #343A40;
}

.panel-bg {
  background-color: #343A40;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  margin-bottom: 15px;
  border-radius: 2px;
}

.panel-text {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

.product-card {
  margin-bottom: 20px;
  background-color: #CFFFF9;
}

.product-card-inside:hover {
  cursor: pointer;
  background-color: #CFFFF9 !important;
}

.active-nav-item {
    color: #7FFFD4 !important;
}

.nav-link {
    font-size: 16px;
    margin-left: 10px;
    color: white;
}

.nav-link:hover {
    color: #CFFFF9 !important;
}*/



/*

light

*/

body {
  font-family: "Century Gothic", sans-serif;
  background: linear-gradient(to left, #FBA86C,#FF6666);
}

.top-menu {
  background-color: white;
}

.panel-bg {
  background-color: white;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  margin-bottom: 15px;
  border-radius: 2px;
}

.panel-text {
  color: #FF6666;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.product-card {
  margin-bottom: 20px;
}

.product-card-inside {
  background-color: white;
}

.product-card-inside:hover {
  cursor: pointer;
  background-color: #FF6666;
  color: white;
}

.active-nav-item {
    color: #FF6666 !important;
}

.nav-link {
    font-size: 16px;
    margin-left: 10px;
    color: black;
}

.nav-link:hover {
    color: #FBA86C !important;
}
/* 

ogólne 

*/











/* 

stare

*/

.sec-bg-color, .active-card:hover {
  background-color: #CFFFF9;
}

.third-bg-color, .active-card {
  background: white;
}

.main-font-color {
  color: #ccc;
}

.active-font-color {
  color: #7FFFD4;
}

.active-font-color:hover {
  color: #CFFFF9 !important;
}

.shop {
  color: black;
  background-color: #7FFFD4;
}

.shop:hover {
  color: black;
  background-color: #CFFFF9;
}