<div class="panel-bg">
  <div class="panel-text">
    <cart-info></cart-info>
  </div>
  <div style="bakcground-color: white;">
    <table class="table .table-striped">
        <tbody>
            <tr *ngFor="let p of products | async" (click)="gotoDetail(p.product)" class="table-row">  
                <!--<td><img src="{{p.product.thumbnail}}" style="height: 50px"> {{p.product.name}}</td>-->
                <td *ngIf="p.bought"><button class="btn btn-warning" (click)="toggleBought(p); $event.stopPropagation()"><span class="glyphicon glyphicon-remove"></span></button></td>
                <td *ngIf="!p.bought"><button class="btn btn-success" (click)="toggleBought(p); $event.stopPropagation()"><span class="glyphicon glyphicon-ok"></span></button></td>
                <td [class.bought]="p.bought">{{p.product.productInfo.name}} {{strings.From}} {{p.product.shop[0].name}}</td>
                <td>{{p.product.price | number:"1.2-2"}} zł</td>
                <td>{{p.count}}</td>
                <td>
                    <button class="btn btn-success" (click)="addOne(p.product); $event.stopPropagation()"><span class="glyphicon glyphicon-plus"></span></button>
                    <button class="btn btn-danger" (click)="removeOne(p.product); $event.stopPropagation()"><span class="glyphicon glyphicon-minus"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>